{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Гофротара полоцк , ящики Полоцк ,
коробки полоцк , картон полоцк коробки беларусь , лотки полоцк , лотки беларусь , гофрокартон полоцк ,
картон полоцк , картон беларусь , купить картонные коробки , коробки полоцк , короб , короба,
">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="SHORTCUT ICON" href="favicon.ico" type="image/x-icon">
    <title>обрабатываемый ЧПУП"Умиспак"</title>
    <link rel="stylesheet" href="{% static 'window-css.css' %}">
</head>
<body>


<header>
    <div class="container">
        <div class="logo-container-left">
            <p>ЧПУП ”Умиспак” <br>В Г.ПОЛОЦКЕ</p>
            <img src="{% static 'graphics/badges/logo-left.png' %}" alt="">

        </div>

        <nav>
            <a href="#" data-scroll="#home">Главная</a>
            <a href="#" data-scroll="#AboutUs"><span class="word-normal">О нас</span></a>
            <a href="#" data-scroll="#OurProduction"><span class="word-normal">Наша продукция</span></a>
            <a href="#" data-scroll="#OurAdvantages">Достоинства</a>
            <a href="#" data-scroll="#contactsid">Контакты</a>
        </nav>
        <button class="nav-toggle" type="button" id="nav-button">
            <span class="nav-toggle__item">
                menu
            </span>
        </button>

        <div class="logo-container-right">
            <p>
                +375-(29)-627-31-87 <br>
                +375-(33)-600-86-12 <br>
                +375-(29)-713-54-52
            </p>
            <img src="{% static 'graphics/badges/smart.png' %}" alt="">
        </div>
    </div>

</header>


<main>
    <section class="intro-section" id="home">
        <h2>
             <b>ЧПУП "УМИСПАК"<br> производство гофротары любой сложности</b>
        </h2>
        <div class="intro-image">
            <div class="img-intro"><img src="{% static 'graphics/images/10.png' %}"></div>
            <div class="img-intro"><img src="{% static 'graphics/images/7.png' %}"></div>
            <div class="img-intro"><img src="{% static 'graphics/images/13.png' %}"></div>
            <div class="img-intro"><img src="{% static 'graphics/images/15.png' %}"></div>
            <div class="img-intro"><img src="{% static 'graphics/images/8.png' %}"></div>
        </div>
        <div class="intro-image">
            <b><div class="word-intro">Коробки <br>Четырехклапанные</div>
            <div class="word-intro">Гофрированные ящики</div>
            <div class="word-intro">Октабины</div>
            <div class="word-intro">Коробки<br>для маркетплейсов</div>
            <div class="word-intro">Работем по каталогу<br> FEFCO</div></b>
        </div>
    </section>


    <section id="AboutUs">
        <h3>О нас</h3>
        <p class="about-us-text">
            Компания Умиспак много лет является
            поставщиком и производителем гофротары
            и гофроупаковки в г.Полоцке, Витебской области
            и иных регионах страны. Предоставляем полный комплекс
            услуг по разработке, изготовлению и доставке гофроупаковки.
            У нас вы можете приобрести любые виды и размеры гофроупаковки
            различного качества. Так же работаем по каталогам FEFCO.
            Мы поможем решить Вам даже самые интересные задумки для
            упаковки из гофрокартона
        </p>
        <div class="about-us-images-phone">
            <img src="{% static 'graphics/images/me.jpg' %}">
        </div>
    </section>


    <section>
        <div class="section_our-production">
            <br>
            <h3>Наша продукция</h3>
            <br>
            <div class="cols-container" id="OurProduction">
                <div class="cols" image-scale="#scale1"><img src="{% static 'graphics/images/1' %}.jpg">
                    <div class="vertical-word"></div>
                    <img src="{% static 'graphics/images/4' %}.jpg"></div>
                <div class="cols" image-scale="#scale2"><img src="{% static 'graphics/images/2' %}.jpg">
                    <div class="vertical-word"></div>
                    <img src="{% static 'graphics/images/5' %}.jpg"></div>
                <div class="cols" image-scale="#scale3"><img src="{% static 'graphics/images/3' %}.jpg">
                    <div class="vertical-word"></div>
                    <img src="{% static 'graphics/images/6' %}.jpg"></div>
            </div>
        </div>
    </section>


    <section id="OurAdvantages" class="section-advantages">
        <br>
        <h3 class="advantages">Наши приемущества</h3>
        <div class="cols-advantages"><h4>современность</h4>
            <p>Мы стараемся не отставать и идти в ногу со временем и работаем с любыми видами связи для вашего
                удобства.</p></div>
        <div class="cols-advantages"><h4>внимательность</h4>
            <p>Мы очень внимательны к каждому нашему клиенту, поэтому помогаем на любом этапе сделки с любыми
                возникающими вопросами.</p></div>
        <div class="cols-advantages"><h4>отзывчивость</h4>
            <p>Вы можете позвонить в любое рабочее время вне зависимости от обеда, мы всегда будем рады помочь в решении
                всех ваших вопросов связанных с нашей работой и продукцией.</p></div>
        <div class="cols-advantages"><h4>доставка</h4>
            <p>Мы так же владеем рабочим транспортом для доставки готовой продукции.</p></div>
        <div class="cols-advantages"><h4>персональность</h4>
            <p>Каждый заказ всегда прорабатывается индивидуально.</p></div>
    </section>

</main>


<footer id="contactsid">
    <div class="header-footer">
        <br>
        <h3>Связаться с нами</h3>
        <p></p>
    </div>
    <div class="iphone320-adaptation"><p>строительная 9 <br> без выходных с 8:00 - 20:00</p></div>
    <div class="cols-footer"><h4><img src="{% static 'graphics/badges/smart.png' %}">Контакты</h4>
        <p class="contacts">
            +375-(29)-627-31-87 <br>
            +375-(33)-600-86-12 <br>
            +375-(29)-713-54-52
        </p>
    </div>
    <div class="cols-footer"><h4><img src="{% static 'graphics/badges/email.png' %}">Почта</h4>
        <p class="email">
            info@gofro.by
        </p></div>
    <div class="cols-footer"><h4><img src="{% static 'graphics/badges/time-work.png' %}">Без выходных</h4>
        <p class="work">
            8:00 - 20:00
        </p>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'JS-file/Main-JS.js' %}"></script>

</body>
</html>





